<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "lwilkins.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Landon Wilkins</h1>
    <p>Welcome to day 2 of my app per day challenge.</p>
    <p>Today I built a blog in Rails 4. You're actually on the demo application right now!</p>
  </div>
</div>